// Place all the styles related to the coffeedesktop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//body {
	//background: url("/assets/background.jpg");
	

//}

#run_dialog {
	width:300px;
	height:50px;
	background: black;
	text-align: center ;
	margin:auto;



}